* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffa41b;
}

header h1 {
    font-size: 2.5em;
    color: #8b0000;
}

header p {
    font-size: 1.1em;
}
.return{
    position: absolute;
    top: 5px;
    left: 5px;
    
}
.return i{
    font-size: 25px;
    color: #8b0000;
}
.login-container h2 {
    margin-bottom: 20px;
    color: #8b0000;
}
.menu-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-section h2 {
    font-size: 2em;
    color: #8b0000;
    margin-bottom: 15px;
    text-align: center;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table th, .menu-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-table th {
    background-color: #ee940e;
    color: #8b0000;
    font-weight: bold;
}

.menu-table td img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.menu-table td .price {
    font-weight: bold;
    color: #8b0000;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
}
